@import '../../../utils/scss/variables';

::-webkit-input-placeholder {
  color: $pink;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: $pink;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: $pink;
}

:-ms-input-placeholder {
  color: $pink;
}

.editora-form--closed {
  display: none;
}

.editora-form--opened {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 500px;
  height: 500px;
  padding: 50px 50px 20px;
  top: 50%;
  z-index: 9999;
  background-color: $normal-white;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);

  input {
    background: transparent;
    border: none;
    border-bottom: solid 2px white;
    padding: 10px 5px 5px 5px;
    outline: none;
  }
}

.editora-form__wrapper button {
  margin: 0px 10px;
  padding: 10px 30px;
  font-size: 10px;
}
