/* Primary Colors */
$purpple: #440047;
$normal: #fbecec;
$pink: #e11d74;
$green-btn: #91d18b;
$normal-white: #fbecec;

/* Semantic Colors */
$secondary-color: $pink;
$header-background-color: $secondary-color;
$main-button-color: $green-btn;
$header-button-color: $purpple;
$normal-text-color: $normal;
$footer-color: $purpple;

/* Sizes */
$header-height: 60px;
$home-page-height: 100vh;
$footer-height: 180px;
