.app-biblioteca {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 300px;
  max-height: 100vh;
}
.app-bibliteca__main {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #eeeeee;
  overflow: auto;
  background: url('../src/assets/images/library.jpg');
  background-size: cover;
}
.app-bibliteca__main__page-container {
  flex-grow: 1;
}
